.tileContainer {
  margin-bottom: 24px;
}
.tileContainer img {
  margin-bottom: 16px;
}

.tileContainer a {
  text-decoration: none;
  color: #000;
}

.header {
  font-weight: 500;
}

.footer {
  color: silver;
}
